<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="folder" value="C:\Users\Eddy\AppData\Local\chia-blockchain\app-1.1.6\resources\app.asar.unpacked\daemon"/>
    <add key="cert" value="C:\Users\Eddy\.chia\mainnet\config\ssl\full_node\private_full_node.crt"/>
    <add key="key" value="C:\Users\Eddy\.chia\mainnet\config\ssl\full_node\private_full_node.key"/>
  </appSettings>
</configuration>